@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

.card {
  width: 12rem;
}
.card img {
  width: 12rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.card img:hover {
  filter: brightness(0.8);
}
.card p {
  font-family: "Saira Semi Condensed";
  font-weight: 600;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8235294118);
}
.card .card-date {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: gray;
}

.card-width {
  width: 100%;
}
.card-width img {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-width p {
  font-size: 20px;
  line-height: 25px;
}
.card-width .card-date {
  font-size: 14px;
}

.gird-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

header {
  color: white;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 8px 25px;
}
header .top-header .left-links a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-right: 20px;
  transition: 0.3s;
}
header .top-header .left-links a:hover {
  color: #FF007A;
}
header .top-header .right-links a {
  margin-right: 15px;
}
header .top-header .right-links a:hover {
  color: rgba(255, 255, 255, 0.908);
}
header .navigation-bar {
  box-shadow: 0 0px 5px rgba(108, 108, 108, 0.266);
  color: black;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navigation-bar .left-navigation {
  display: flex;
  align-items: center;
  gap: 35px;
}
header .navigation-bar .left-navigation nav {
  display: inline-block;
}
header .navigation-bar .left-navigation nav ul li {
  padding: 30px 0px;
  cursor: pointer;
  position: relative;
}
header .navigation-bar .left-navigation nav ul li:hover a {
  color: #FF007A;
}
header .navigation-bar .left-navigation nav ul li:hover .submenu {
  display: flex;
  flex-direction: column;
}
header .navigation-bar .left-navigation nav ul li:hover .M-submenu {
  display: flex;
}
header .navigation-bar .left-navigation nav ul li a {
  margin-right: 20px;
  color: #000000;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
header .navigation-bar .left-navigation nav ul li a i {
  color: #FF007A;
  font-size: 14px;
}
header .navigation-bar .left-navigation nav ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 11111;
  left: 0;
  border: 1px solid rgba(190, 188, 188, 0.504);
  border-top: none;
  width: 15rem;
  background-color: white;
}
header .navigation-bar .left-navigation nav ul li .submenu li {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.725);
  text-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .navigation-bar .left-navigation nav ul li .submenu li:hover a {
  color: #FF007A;
}
header .navigation-bar .left-navigation nav ul li .submenu li a {
  font-size: 14px;
  font-weight: normal;
  color: black;
}
header .navigation-bar .left-navigation nav ul li .submenu li i {
  color: #FF007A;
  font-size: 10px;
}
header .navigation-bar .left-navigation nav ul li .submenu li:hover .submenu2 {
  display: flex;
  flex-direction: column;
  color: #FF007A;
}
header .navigation-bar .left-navigation nav ul li .submenu li .submenu2 {
  position: absolute;
  display: none;
  left: 100%;
  top: 0%;
  background-color: white;
  border: 1px solid rgba(190, 188, 188, 0.504);
  border-top: none;
  width: 15rem;
}
header .navigation-bar .left-navigation nav ul li .submenu li .submenu2 li:hover a {
  color: #FF007A;
}
header .navigation-bar .left-navigation nav ul li .submenu li .submenu2 li a {
  color: #000000;
}
header .navigation-bar .left-navigation nav ul li .M-submenu {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(128, 128, 128, 0.421);
  display: none;
  gap: 20px;
  position: absolute;
  z-index: 11111;
  top: 100%;
  border-top: 1px solid rgba(171, 171, 171, 0.457);
  background-color: white;
  left: -24rem;
  border-radius: 0 0 2px 2px;
}
header .navigation-bar .left-navigation nav ul li .H-submenu {
  position: absolute;
  top: 100%;
  left: -12rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background-color: yellow;
  border-top: none;
}
header .navigation-bar .left-navigation nav ul li .H-submenu .M-submenu .left-devices {
  width: 12rem;
  border-right: 1px solid rgba(180, 178, 178, 0.591);
}
header .navigation-bar .left-navigation nav ul li .H-submenu .M-submenu .left-devices ul {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
header .navigation-bar .left-navigation nav ul li .H-submenu .M-submenu .left-devices ul li {
  padding: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(180, 178, 178, 0.591);
}
header .navigation-bar .left-navigation nav ul li .H-submenu .M-submenu .left-devices ul li a {
  color: #000000;
  font-weight: normal;
  font-size: 14px;
}
header .navigation-bar .right-navigation {
  display: flex;
  gap: 20px;
}
header .navigation-bar .right-navigation a i {
  font-weight: 600;
  transition: 0.3s;
}
header .navigation-bar .right-navigation a i:hover {
  color: #FF007A;
}

.grid {
  display: grid;
  grid-template-columns: 69% 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
}
.grid img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid img:hover {
  transform: scale(1.1);
}
.grid .row2 {
  grid-row: span 2;
}
.grid .child {
  overflow: hidden;
  position: relative;
}
.grid .child .grid-content {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: white;
  padding-right: 1rem;
}
.grid .child .grid-content a h2 {
  font-family: "Saira Semi Condensed", sans-serif;
  margin-top: 10px;
  text-wrap: wrap;
}
.grid .child .grid-content .banner-btn {
  background-color: #FF007A;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
  color: white;
  font-weight: 600;
}
.grid .child .grid-content p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin-top: 10px;
  text-wrap: wrap;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding-top: 2rem;
}
.container h2 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 24px;
  color: #FF007A;
  margin: 25px 0;
}
.container .gird-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.container .container-banner {
  margin: 50px 0;
  width: 100%;
}
.container .container-banner a img {
  width: 100%;
}
.container .second-banner {
  position: relative;
}
.container .second-banner a img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.8);
}
.container .second-banner .grid-content {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: white;
}
.container .second-banner .grid-content h2 {
  color: white;
  margin-bottom: 0;
}
.container .second-banner .grid-content .banner-btn {
  background-color: #FF007A;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
  color: white;
  font-weight: 600;
}
.container .second-banner .grid-content p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin-top: 10px;
  text-wrap: wrap;
}
.container .aside {
  width: 100%;
  display: flex;
  gap: 90px;
}
.container .aside .left-aside {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .aside .left-aside .card-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.container .aside .left-aside .card-column img {
  width: 40%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.container .aside .left-aside .card-column .card-details h3 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 16px;
  color: #FF007A;
}
.container .aside .left-aside .card-column .card-details .heading {
  width: 100%;
  text-wrap: wrap;
  font-size: 24px;
  line-height: 30px;
  transition: 0.3s;
}
.container .aside .left-aside .card-column .card-details .heading:hover {
  color: #FF007A;
  cursor: pointer;
}
.container .aside .left-aside .card-column .card-details .card-date {
  font-size: 14px;
}
.container .aside .left-aside .card-column .card-details .card-date a {
  color: black;
}
.container .aside .left-aside .card-column .card-details .card-date span {
  margin-left: 1rem;
}
.container .aside .left-aside .card-column .card-details .card-date span a {
  color: gray;
}
.container .aside .left-aside .card-column .card-details .card-date span a i {
  margin-right: 5px;
}
.container .aside .right-aside {
  width: 30%;
}
.container .aside .right-aside .right-aside-image {
  height: 10rem;
}
.container .aside .right-aside div {
  margin-bottom: 30px;
}
.container .aside .right-aside div:last-child {
  margin-bottom: 0;
}
.container .aside .right-aside .sticky {
  position: sticky;
  top: 0;
}

.gadget {
  background-color: #F4F4F4;
  margin-top: 4rem;
  padding-bottom: 3rem;
}

.aside-banner {
  width: 20rem;
}

.sticky-10 {
  position: sticky;
  top: 10px;
}

.load-more {
  width: 40%;
  margin: 0 auto;
}
.load-more button {
  background-color: white;
  width: 100%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgba(0, 0, 0, 0.837);
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.load-more button:hover {
  background-color: black;
  color: white;
}

footer {
  margin-top: 4rem;
  background-color: black;
  padding: 2rem 0;
}
footer .container .center {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .center img {
  width: 10rem;
}
footer .container .center .footer-social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
footer .container .center .footer-social .round {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #1D1D1D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
footer .container .center .footer-social .round:hover {
  background-color: rgba(56, 56, 56, 0.822);
}
footer .container .center .footer-links {
  margin: 30px 0;
}
footer .container .center .footer-links ul li {
  margin-left: 20px;
}
footer .container .center .footer-links ul li:first-child {
  margin-left: 0;
}
footer .container .center .footer-links ul li a {
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
footer .container .center .footer-links ul li a:hover {
  color: rgb(205, 205, 205);
}
footer .container .center p {
  margin-bottom: 20px;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  color: gray;
}
footer .container .center p a {
  color: rgba(255, 255, 255, 0.818);
}

@media (max-width: 1300px) {
  .grid .child .grid-content a h2 {
    font-size: 18px !important;
  }
  .grid .child .grid-content p {
    font-size: 10px !important;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
  .container .right-aside .sticky-10 {
    width: 250px;
  }
}
@media (max-width: 1050px) {
  .navigation-bar .left-navigation nav ul li a {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 940px) {
  .top-header {
    display: none !important;
  }
  .navigation-bar .left-navigation nav ul li a {
    display: none;
  }
}
@media (max-width: 860px) {
  .container {
    width: 720px;
  }
  .container .right-aside .sticky-10 {
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */