.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;

    h2 {
        @include font($font-family: $main-font, $color: $pink-color, $font-size: 24px);
        margin-bottom: 25px;
    }

    .gird-col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .container-banner {
        margin: 50px 0;
        width: 100%;

        a {
            img {
                width: 100%;
            }
        }

    }

    .second-banner {
        position: relative;
        
        a{
            img {
                height: 30rem;
                object-fit: cover;
            } 
        }
    }

    .aside {
        width: 100%;

        .left-aside {
            width: 70%;

            .card-column {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                margin-bottom: 25px;

                img {
                    width: 40%;
                    height: 10rem;
                    object-fit: cover;
                    flex-shrink: 0;
                }

                .card-details {
                    h3 {
                        @include font($font-family: $main-font, $color: $pink-color)
                    }

                    .heading {
                        width: 100%;
                        text-wrap: wrap;
                        font-size: 24px;
                        line-height: 30px;
                        transition: 0.3s;

                        &:hover {
                            color: $pink-color;
                            cursor: pointer;
                        }
                    }

                    .card-date {
                        font-size: 14px;

                        a {
                            color: black;
                        }

                        span {
                            margin-left: 1rem;

                            a {
                                color: gray;

                                i {
                                    margin-right: 5px;
                                }

                            }
                        }
                    }

                }
            }
        }
    }
}